<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="nav-link active mr-3" aria-current="page" href="/"><%= image_tag "popcorn.png" , class: 'logo' %></a>

    <%= form_with url: lists_path, method: :get, class: "d-flex align-items-center search" do |form| %>
      <%= form.text_field :query, value: params[:query], class: "form-control me-2", placeholder: "Find a list" %>
      <%= form.submit "Search", class: "btn btn-banner" %>
    <% end %>

    <div data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <div class="btn btn-banner">New List</div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title align-center mx-auto text-center" id="offcanvasNavbarLabel">Create List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div>
        <%= simple_form_for @list do |f|%>
        <%= f.input :name, required: false, placeholder: "80's Classics", class: "home-form-input"  %>
        <%= f.input :photo, as: :file, class: "home-form-input" %>
        <div class="d-flex">
          <%= f.submit "Add list", class: "btn btn-banner text-center mx-auto" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
